on property:sys.boot_completed=1
    write /proc/${persist.vendor.camera.provider.pid}/reclaim anon

service cameraserver /system/bin/cameraserver
    class main
    user cameraserver
    group audio camera input drmrpc readproc
    ioprio rt 4
    task_profiles CameraServiceCapacity HighPerformance
    rlimit rtprio 10 10
