service mediaextractor /system/bin/mediaextractor
    class main
    user mediaex
    group drmrpc mediadrm
    ioprio rt 4
    writepid /dev/cpuset/system-foreground/tasks /dev/stune/foreground/tasks
